
.products {
  display: flex;
  justify-content: space-evenly;
  .product-item {
    width: 162px;
    .image {
      img {
        width: auto;
      }
    }
    .name {
      font-size: 25px;
      text-align: center;
      color: #494949;
      line-height: 1.2;
      margin-bottom: 10px;
      min-height: 65px;
    }
    .button {
      width: 150px;
      border-radius: 9px;
      background-color: #505050;
      color: white;
      font-size: 20px;
      &.is-product {
      
      }
    }
  }
}