<template>
  <div class="product-detail">
    <div class="columns">
      <div class="column has-text-centered">
        <img :src="product.img" :alt="product.name">
      </div>
      <div class="column">
        <h1 class="title">
          <span>{{product.name}}</span>
        </h1>
        <ul>
          <li v-for="(feature, key) in product.features">
            {{key}} <br>
            <div v-if="feature.type === 'text'">{{feature.value}}</div>
            <div v-else-if="feature.type === 'images'">
              <img style="width: 100px;" v-for="image in feature.value" :src="image">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  export default {
    name: "ProductDetail",
    data() {
      return {
        products: [],
        product: {}
      }
    },
    created() {
      axios.get('/es.json',).then((response) => {
        this.products = response.data['products'];

        const product = this.products.find((item) => item.id === this.$route.params.id)

        if (product) {
          this.product = product;
        } else {
          this.$router.push({name: 'products'})
        }

      })
    }
  }
</script>

<style src="./product-detail.scss" lang="scss">

</style>