.hero-body {
  align-items: flex-start!important;
}
.contact {
  h1 {
    &.title {
      color: #252525;
      text-transform: uppercase;
      font-weight: normal;
      span {
        border-bottom: solid 2px #dcb867;
      }
    }
  }
  
  h3 {
    color: #252525;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin: 15px 0;
    span {
      border-bottom: solid 2px #dcb867;
    }
  }
  
  .column {
    &.info {
      p {
        color: #252525;
        display: flex;
        min-height: 45px;
        margin-bottom: 10px;
        .icon {
          color: #cf9f33;
          font-size: 30px;
          margin-right: 15px;
        }
        text-align: left;
        a {
          color: #252525;
        }
      }
    }
  }
    

  
  .form {
    .label {
      color: #252525;
      font-size: 15px;
      font-weight: normal;
    }
    .button {
      width: 150px;
      border-radius: 9px;
      background-color: #505050;
      color: white;
      font-size: 20px;
      &.is-product {
      
      }
    }
  }
  
  .columns {
    &.centered {
      .column {
        justify-content: center;
        &.sucursal {
          .image {
            display: flex;
            justify-content: center;
            img {
              width: auto;
            }
          }
          p {
            min-height: 100px;
          }
        }
      }
    }
  }
  
  .map {
    height: 300px;
    width: 100%;
  }
}