<template>
  <div class="contact">
    <div class="columns">
      <div class="column is-4 info">
        <h1 class="title">
          <span>Contáctanos</span>
        </h1>
        <p>
          <span class="icon">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          <span>
            PISCOS Y VINOS BOHORQUEZ
            <br>
            La Solano D14, Los Aquijes, Ciudad de Ica, <br> Departamento de Ica, Perú.
          </span>
        </p>
        <p>
          <span class="icon">
            <i class="fas fa-phone"></i>
          </span>
          <span> <strong>Telf:</strong>  (51 56) 75 4712 - 000 </span>
        </p>
        <p>
          <span class="icon">
            <i class="fas fa-mobile-alt"></i>
          </span>
          <span>
            Mobile & WhatsApp:
            <br>
            (+51) 998 384 180
            <br>
            (+51) 958 489 155
          </span>
        </p>
        <p>
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
          <span>
            <a href="mailto:ventas@piscosbohorquez.com">ventas@piscosbohorquez.com</a>
          </span>
        </p>
        <p>
          <span class="icon">
            <i class="fas fa-globe"></i>
          </span>
          <span>
            <strong>Web: </strong><a href="/">www.piscosbohorquez.com</a>
          </span>
        </p>
      </div>
      <div class="column form">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">NOMBRES Y APELLIDOS</label>
              <div class="control">
                <input class="input" type="text" placeholder="">
              </div>
            </div>
            <div class="field">
              <label class="label">TELÉFONO</label>
              <div class="control">
                <input class="input" type="text" placeholder="">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">CORREO ELECTRÓNICO</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="email">
              </div>
            </div>
            <div class="field">
              <label class="label">EMPRESA</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea class="textarea"></textarea>
          </div>
        </div>

        <div class="control">
          <button class="button is-product">Enviar</button>
        </div>

      </div>
    </div>
    <br>
    <h1 class="title has-text-centered">
      <span>NUESTRAS SUCURSALES</span>
    </h1>
    <div class="columns centered">
      <div class="column sucursal">
        <div class="image">
          <img src="/img/sucursal1.png" alt="VITIVINICOLA BOHORQUEZ">
        </div>
        <h3>
          <span>VITIVINICOLA BOHORQUEZ</span>
        </h3>
        <p>
          <span>Dirección: </span>La Solano D14, Los Aquijes, Ciudad de Ica.
          <br>
          <span>Departamento: </span>Ica, Perú.
        </p>
        <div class="map">
          <gmap-map
                  :options="{disableDefaultUI: true}"
                  :center="sucursal1Location"
                  :zoom="14"
                  style="width: 100%; height: 100%">
            <gmap-marker
                    :position="sucursal1Location"
                    :clickable="true"
                    :draggable="false"
                    :animation="4">
            </gmap-marker>
          </gmap-map>
        </div>
      </div>
      <div class="column sucursal">
        <div class="image">
          <img src="/img/sucursal2.png" alt="TABERNA BOHORQUEZ">
        </div>
        <h3>
          <span>TABERNA BOHORQUEZ</span>
        </h3>
        <p>
          <span>Dirección: </span>Calle Junín 601, Ciudad de Ica.
          <br>
          <span>Departamento: </span>Ica, Perú.
        </p>
        <div class="map">
          <gmap-map
                  :options="{disableDefaultUI: true}"
                  :center="sucursal2Location"
                  :zoom="14"
                  style="width: 100%; height: 100%">
            <gmap-marker
                    :position="sucursal2Location"
                    :clickable="true"
                    :draggable="false"
                    :animation="4">
            </gmap-marker>
          </gmap-map>
        </div>
      </div>
      <div class="column sucursal">
        <div class="image">
          <img src="/img/sucursal3.png" alt="RECREO BOHORQUEZ">
        </div>
        <h3>
          <span>RECREO BOHORQUEZ</span>
        </h3>
        <p>
          <span>Dirección: </span>Los Piscontes S/N, Los Aquijes, Ciudad Ica.
          <br>
          <span>Referencia: </span>Frente del Estadio Municipal.
          <br>
          <span>Departamento: </span>Ica, Perú.
        </p>
        <div class="map">
          <gmap-map
                  :options="{disableDefaultUI: true}"
                  :center="sucursal3Location"
                  :zoom="14"
                  style="width: 100%; height: 100%">
            <gmap-marker
                    :position="sucursal3Location"
                    :clickable="true"
                    :draggable="false"
                    :animation="4">
            </gmap-marker>
          </gmap-map>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    name: "Contact",
    data() {
      return {
        sucursal1Location: {
          lat: -14.1099752,
          lng: -75.68591930000002
        },
        sucursal2Location: {
          lat: -14.0708984,
          lng: -75.72441349999997
        },
        sucursal3Location: {
          lat: -14.1151645,
          lng: -75.6804698
        }
      }
    }
  }
</script>

<style src="./contact.scss" lang="scss">

</style>