
.el-pisco {
  text-align: center;
  img {
    height: 550px;
  }
  .info {
    margin-top: 30px;
    padding: 0 380px;
    color: #494949;
    .title {
      color: #252525;
      text-transform: uppercase;
      font-weight: normal;
      span {
        border-bottom: solid 2px #dcb867;
      }
    }
  }
}