@import "~bulma-carousel/dist/css/bulma-carousel.min.css";

.carousel-item {
  .overlay {
    position: absolute;
    background: linear-gradient(rgba(20,20,20, .5), rgba(20,20,20, .5));
    height: 100%;
    width: 100%;
  }
}

.navbar-item {
  &.logo {
    width: 205px;
    height: 177px;
    img {
      max-height: 177px;
    }
  }
}

.navbar-end {
  .navbar-item {
    text-transform: uppercase;
    font-weight: bold;
    &.has-text-white {
      &:hover {
        color: #b5b5b5!important;
      }
    }
  }
  .separator {
    height: 20px;
    margin-top: 78px;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 0.5px #ffffff;
  }
}

.hero-body {
  .title {
    font-size: 100px;
    font-weight: normal;
    color: white;
  }
}

.hero-foot {
  position: relative;
  color: white;
  margin-bottom: 22px;
  .social-networks {
    text-align: center;
    img {
      margin: 5px;
      cursor: pointer;
    }
  }
  .message-warning {
    opacity: 0.69;
    font-size: 15px;
    width: 400px;
    margin: auto;
    border-bottom: solid 1px #ffffff;
    border-top: solid 1px #ffffff;
    padding: 10px;
  }
}
