<template>
  <div id="app">
    <section class="hero is-transparent is-fullheight">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a href="/" class="navbar-item logo">
                <img src="/img/logo-black.svg" alt="Logo">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
              <div class="navbar-end">
                <router-link class="navbar-item" :to="{name:'home'}">Home</router-link>
                <div class="separator"></div>
                <router-link class="navbar-item" :to="{name:'about'}">Bohorquez</router-link>
                <div class="separator"></div>
                <router-link class="navbar-item" :to="{name:'products'}">Productos</router-link>
                <div class="separator"></div>
                <router-link class="navbar-item" :to="{name:'pisco'}">El Pisco</router-link>
                <div class="separator"></div>
                <router-link class="navbar-item" :to="{name:'contact'}">Contáctanos</router-link>
              </div>
            </div>
          </div>
        </header>
      </div>

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container">
          <router-view />
        </div>
      </div>

      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        <div class="message-warning">
          <span>TOMAR BEBIDAS ALCOHÓLICAS EN EXCESO ES DAÑINO</span>
        </div>
        <div class="copyrights">
          <span>Copyrights © 2018 Todos los derechos reservados. Desarrollado por FBG</span>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    name: "default"
  }
</script>

<style lang="scss" scoped>
  .message-warning {
    height: 50px;
    background-color: #505050;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      opacity: 0.69;
      font-size: 15px;
    }
  }
  .copyrights {
    height: 32px;
    background-color: #313131;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 10px;
    }
  }
  .navbar-item {
    &.logo {
      width: 205px;
      height: 177px;
      img {
        max-height: 177px;
      }
    }
  }

  .navbar-end {
    .navbar-item {
      text-transform: uppercase;
      font-weight: bold;
      color: #494949;
      &:hover {
        background-color: transparent;
        color: #b5b5b5!important;
      }
    }
    .separator {
      height: 20px;
      margin-top: 78px;
      margin-left: 5px;
      margin-right: 5px;
      border: solid 1px #cf9f33;
    }
  }
</style>